# # Common

*.env

# Python
**__pycache__*
dist
*.pyc
*.whl

# Syncthing
.stfolder
.stversions

# # Custom

# Blobs
Build
Release

# Symlinks
Workspace
Projects/Hook/*
.venvs

# Temporary files
___*

# # Projects

# ShaderFlow
ShaderFlow/Resources/Scenes/User
