name: make-website
on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  pages: write

jobs:
  main:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Build website
        run: uvx zensical build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

      - name: Deploy pages
        uses: actions/deploy-pages@v4
